<aside>
	<div class="panel radius">
		<h3>Our Survey</h3>
		<p>Take our <a href="/survey/">Digital Collections Survey</a> to help us understand your migration needs.</p>
	</div>

  <img class="b30" src="/images/samvera-ad.png" alt="Hyku is part of the samvera open source community">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			Cat Ad, for testing purposes<a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
