<aside>
	<div class="panel radius">
		<p>Take the Bridge2Hyku <a href="/survey/">Digital Collections Survey</a> to help us understand your content migration needs.</p>
	</div>

  <a href ="http://samvera.org"><img class="b30" src="/images/samvera-ad.png" alt="Hyku is part of the samvera open source community" style="border:1px solid black"></a>

  <a href ="https://www.imls.gov"><img class="b30" src="/images/imls-ad.png" alt="Bridge2Hyku is made possible by an IMLS grant" style="border:1px solid black"></a>

</aside>
